

.table-container {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1 {
    text-align: center;
    color: #333;
}

.tablei {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.thead {
    background-color: #4CAF50;
    color: white;
}

.tablei th, td {
    text-align: left;
    padding: 12px;
}


.tablei tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablei tr:hover {
    background-color: #ddd;
}

.tablei td {
    border-bottom: 1px solid #ddd;
}
