h1{
    font-size: 50px;
    font-weight: bolder;
}
aside.sidebar-menu {
    background-color: rgba(20, 20, 20, 0.89);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    height: 100%;
}

aside.sidebar-menu > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: var(--spacing-2);
    height: 100%;
    gap: var(--spacing-1);
    padding-top: 50px;
    /* justify-content: center; */
}

aside.sidebar-menu > ul > li {
    display: flex;
    list-style: none;
    width: 100%;
    transition: var(--transition);
    margin-top: 10px;
}

aside.sidebar-menu > ul > li > button {
    color: rgb(202, 200, 200);
    /* font-size: 1.2rem; */
    font-size: 15px;
    padding: 20px 10px;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    transition: color 300ms;
}
aside.sidebar-menu > ul > li > button:hover{
    color: white;
}
aside > ul > li {
    display: flex;
    align-items: center;
    
}

.active,
aside.sidebar-menu > ul > li:hover {
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: rgb(250, 248, 248);
}

img{
    width: 100%;
    background-size: cover;
}
.image{
    padding: 5px;
    width: 52px;
    height: 52px;
    background-size: cover;
}


.sidebar.active{
    width: 300px;
    background-color: green;
}
#lenguage{
   background-color: aliceblue;
   display: flex;
   transition: all 5ms;
    
}
.list_item{
    display: flex;
    list-style: none;
    width: 100%;
    transition: var(--transition);
    margin-top: 10px;
}
.btn{
    padding: 10px 30px;
    display: block;
    width: 100%;
    border-radius: 10px;
    font-size: var(--font-size-xs);
}
.btn:hover{
    font-weight: bold;
    color: white;
    transition: all 5ms;
}
.list_inside{
    display: flex;
    align-items: center;
    margin-left: 0px;
    list-style: none;
}
.list_show{
   display: none;
}

.list_item_open{
   display: block;
}

.image_list{
    width: 30px;
    height: 25px;
}
.btn{
    background-color: transparent;
    border: 0px;
    color: var(--white-color);
}