.visible {
    display: block;
}

.hidden {
    display: none;
}

.loader {
    /* width: fit-content; */
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0); /* Esto significa que el texto se va a mostrar de 3 en 3 caracteres */
    animation: l4 1s steps(4) infinite;
}
.content__title {
    text-align: center;
    color: var(--white-color);
    padding: 10px;
    border-bottom: 1px solid var(--white-color);
}
.content__a{
    margin-left: 5px;
    text-decoration: none;
    padding: 2px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    width: 180px;
    color: var(--dark-color);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.content__a:hover{
    background-color: var(--secondary-color);
}
p {
    font-size: 15px;
    color: var(--white-color);
    padding: 10px;
}

.color_html{
    background-color: rgba(110, 19, 19, 0.842);
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.card_footer img {
  width: 10%; /* Ajusta el tamaño máximo de la imagen según sea necesario */
  height: auto;
}
.background{
   position:absolute;
    width: 100%;
    height: 85vh;
    z-index: -1;
    left: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 5px;

}
.container_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    gap:20px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: var(--border-radius);
    width: 300px;
    height: 150px;
    background-color: var(--secondary-color);
    color: var(--white-colot);
}
.container_table{
    border-radius: var(--border-radius);
    padding: 10px;
    margin-top: 10px;
    width: 50%;
    background-color: rgba(230, 227, 227, 0.877);
    
}
.table{
    border: 1px solid var(--white-color);
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 100%;
    height: 300px;
    background-color: var(--primary-color);
    color: white;
    
}
.table  tr  th{
    border: 1px solid var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    background-color: var(--secondary-color);
}
.table__body  td{
    border-bottom: solid 1px var(--gray-color);
    color: var(--white-color);
}

img {
    width: 10%;
}
.image {
    width: 10%;
    height: 10px;
}
.th_position{
    width: 20px;
}
.color_html{
    background: linear-gradient(rgba(37, 2, 2, 0.900), rgba(37, 2, 2, 0.900), rgba(238, 19, 19, 0.900))
}
.color_css{
  background: linear-gradient(rgba(19, 43, 109, 0.9), rgba(19, 43, 109, 0.900), rgba(37, 2, 2, 0.900))
}
.color_js{
    background: linear-gradient(rgba(209, 223, 16, 0.9), rgba(187, 190, 7, 0.900), rgba(37, 2, 2, 0.900))
}
.loader:before {
    content: "Cargando..."
}

@keyframes l4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}